html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
}
.App {
  display: flex;
  background-image: url("./assests/tanjirou-kamado-kimetsu-no-yaiba-uhdpaper.com-4K-109.jpg");
  background-size: 80% 100vh;
  background-repeat: no-repeat;
  background-position: top right;
  font-family: Raleway, sans-serif;
  
}
h1 {
  font-size: 32px;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: rgb(86, 159, 231);
}
.header {
  margin: 0;
  padding: 0;
  height: 550px;
  display: flex;
  align-items: center;
}
.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile {
  margin-top: 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 8px solid rgb(86, 145, 182);
  cursor: pointer;
  box-shadow: 0 0 32px 4px rgb(86, 145, 182);
  transition: 0.5s ease;
}
.profile:hover {
  box-shadow: 0 0 48px 16px rgb(86, 145, 182);
}
.profile:active{
  border-radius: 8px;
  border: none;
  height: 200px;
  width: 200px;
  box-shadow: 0 0 32px 4px rgb(86, 145, 182);
}
.social a {
  width: 40px;
  height: 40px;
  margin: 5px;
  margin-top: 0;
  padding: 2px;
  color: aliceblue;
  font-size: 20px;
  text-decoration: none;
  background-color: rgb(36, 34, 34);
  border-radius: 50%;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.social a:hover{
  color: #149ddd;
}
nav {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  min-width: 300px;
  height: 560px;
  overflow-y: auto;
  position: sticky;
  z-index: 100000;
  top: 0;
}
.navr {
  display: none;
}
nav ul {
  margin: 10px;
  padding-left: 20px;
  list-style-type: none;
}
ul li {
  padding: 3vh;
}
li a {
  text-decoration: none;
  color: rgba(240, 248, 255, 0.642);
  font-size: 16px;
  padding: 10px;
}

nav a:hover {
  color: aliceblue;
}
.nav-icon{
  padding:10px;
  font-size: 1.5rem;
  border-radius: 50%;
  font-weight: lighter;
  cursor: pointer;
  display: none;
  z-index: 1000;
}
.name {
  padding: 0;
  margin: 0;
  color: white;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 4rem;
  cursor: pointer;
  transition: all 1s ease;
}
.name:hover {
  filter: drop-shadow(2px 4px 30px black);
}
.text {
  padding: 0;
  margin: 0;
  display: inline-flex;
  font-size: 26px;
  color:white;
}

.tran {
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;
  text-decoration: underline;
  text-decoration-color: rgb(119, 189, 238);
  border-right: 2px solid white;
  animation: typing 7s steps(18) infinite, blinkCursor 0.8s step-end infinite;
}
@keyframes typing {
  0% {
    width: 0;
  }
  85% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes blinkCursor {
  50% {
    border-color: transparent;
  }
}
.main {
  width: 170vmin;
  margin: 10px;
}
.about {
  margin-bottom: 80px;
}
.about .container {
  display: flex;
  animation: second linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.about .box {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.about-data {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  align-items: center;
}
.about ul {
  padding: 0;
  margin: 0;
  margin-right: 40px;
}
.about-data ul li {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
.about .list-style {
  color: rgb(137, 183, 238);
  font-size: 30px;
  margin: 10px;
  margin-left: 0;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.about-img {
  min-width: 25vw;
  height: 60vh;
  background-image: url("./assests/photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
}
.skills{
  margin-bottom: 4rem;
}
.skills-continer {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 0;
  display: flex;
  animation: second linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.progress {
  margin-bottom: 30px;
}
.progress-container {
  width: 35vw;
  height: 10px;
  background-color: #e0e0df;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 26%;
  
}
.progress-bar {
  height: 100%;
  background-color: #149ddd;
}
.skill {
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.projects {
  margin-bottom: 5rem;
}
.project-row {
  display: flex;
}
.projects .title{
  text-decoration-thickness: 2px;
}
.projects .title i{
  color: #5ad5fa;
  font-size: 1.5rem;
}
.projects .title:hover i{
  color: black;
}
.projects .first{
  animation: second linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.project-card .description {
  margin-bottom: 30px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
opacity: 0.5;
}
.project-card {
  margin: 5px;
  padding: 20px;
  box-shadow: 0 0 8px 2px skyblue;
  /* background-image: url("./assests/logo.svg"); */
  border-radius: 1rem;
  cursor:pointer;
  transition: all 0.5s ease-in;
}
.project-card a {
  font-family:Arial, Helvetica, sans-serif;
  font-style: italic;
  text-decoration: none;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  color: black;
  transition: all 0.3s ease;
  opacity: 0;
}
.project-card a:hover{
  border: 1px solid black;
  box-shadow: 0 2px 8px 2px rgb(161, 222, 244);
  background-color: rgb(141, 223, 252);
}
.project-card:hover a {
  opacity: 1;
}
.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 16px 4px rgb(111, 216, 240);
  background: linear-gradient(to bottom, white,rgb(251, 133, 133));
  z-index: 1;
}

.project-container:hover .project-card:not(:hover) {
  opacity: 50%;
  transform: scale(0.95);
}
.cert-img {
  display: flex;
  flex-wrap: wrap;
  animation: second linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.cert-img-cont {
  position: relative;
  width: 280px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 4px 32px 4px rgba(191, 216, 245, 0.989);
  margin: 10px;
}

.cert-img-cont img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.cert-img-cont:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgb(252, 111, 111),
    rgba(255, 255, 255, 0.301)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #fff;
  text-align: center;
}

.cert-img-cont:hover .overlay {
  opacity: 1;
}
/* .project-card:hover .overlay {
  opacity: 1;
} */
.description {
  font-size: 18px;
  margin-bottom: 10px;
}

.view-more {
  padding: 10px 20px;
  font-size: 16px;
  background: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.cert-img-cont a {
  text-decoration: none;
  color: black;
}
.contact .container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.mydetails {
  box-shadow: 2px 2px 16px 4px grey;
  padding: 20px;
  width: 230px;
  height: 40vh;
  border-radius: 1rem;
  align-content: center;
  animation: second linear;
  animation-timeline: view();
  animation-range: entry 10% cover 50%;
}
.mydetails label {
  font-size: 1rem;
  font-weight: bold;
}
.mydetails a {
  text-decoration: none;
  color: black;
}
.inside-form {
  width: 570px;
  padding: 30px;
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 2px 2px 16px 2px grey;
}
.form-control {
  height: 7vh;
  width: 250px;
  margin: 10px;
  outline: none;
}
#subject-field {
  width: 530px;
}
#message-field {
  width: 530px;
  height: 30vh;
}
.form-field {
  display: grid;
}
form button {
  height: 8vh;
  width: 15vw;
  border-radius: 2rem;
  background-color: #149ddd;
  border: none;
  margin: 20px;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
footer {
  padding: 0;
  margin: 0;
  height: 20vh;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(50px);
  background-color: rgb(243, 253, 253);
}
footer .credits {
  margin-left: 50px;
  font-size: 13px;
}
.foot-button{
  transform: translateX(900px);
  z-index: 10000;
  bottom: 10px;
  position: sticky;
}
.foot-button a{
  padding: 6px 10px;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: #72d2fe;
  box-shadow: 2px 2px 8px 2px grey;
}
.foot-button:hover a {
  background-color: #149ddd;
}
section{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes appear {
  from{
    opacity: 0;
    transform: translateX(-300px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes second {
  from{
    opacity: 0;
    transform: translateY(200px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width:900px) {
nav{
  display: none;
}
  .foot-button{
    transform: translateX(700px);
  }
}

@media (max-width: 767px) {
 /* #nav{
  min-width: 150px;
  height: 667px;
 }
 nav li a {
  font-size: 12px;
 }
 nav h2{
  font-size: 16px;
 }
  .profile{
    width: 50px;
    height: 50px;
  }
  .social a {
    width: 20px;
    height: 20px;
  } */
  .main {
    width: 90vmin;
    margin: 10px;
  }
  .App{
    background-image: url("./assests/tanjirou-kamado-kimetsu-no-yaiba-uhdpaper.com-4K-109.jpg");
    background-size:100% 700px;
    background-repeat: no-repeat;
  }
  .nav-icon{
    display: block;
  }
  .header{
    height: 700px;
  }
  .foot-button{
    transform: translateX(290px);
  }
  h1 {
    font-size: 22px;
  }
  .name{
    font-size: 2rem;
  }
  .text{
    font-size: 12px;
  }
  .about-img{
    display: none;
  }
  .about-data {
    display: grid;
  }
  .project-row {
    display: grid;
  }
  .cert-img {
    display: grid;
    flex-wrap: nowrap;
  }
  .cert-img-cont {
    width: 320px;
  }
  .contact .container {
    display: grid;
  }
  .mydetails{
    width: 270px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 8px 1px gray;
  }
  .inside-form{
    width: 250px;
    display: grid;
    flex-wrap: nowrap;
  }
  #subject-field ,#message-field{
    width: 250px;
  }
}